@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  width: 100%;
  padding: 1.5em 5em;
  position: fixed;
  z-index: 5;
}

.logo {
  color: #fff;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list__item {
  list-style: none;
  padding-right: 50px;
}
.list__link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 0.1s ease-out;
  backface-visibility: hidden;
}
.list__link:hover {
  color: #ff5733;
  cursor: pointer;
}

.icons {
  color: #fff;
}
.icons i {
  padding-right: 20px;
  font-size: 600;
  transition: color 0.1s ease-out;
}
.icons i:hover {
  color: #ff5733;
  cursor: pointer;
}

.hero {
  background-image: linear-gradient(rgba(23, 24, 25, 0.8), rgba(23, 24, 25, 0.8)), url(../img/bg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-box__paragraph {
  color: #7f8c8d;
  font-size: 1.3rem;
  margin-bottom: 1.4rem;
}
.hero-box__buttons {
  margin-top: 2rem;
}

.section-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5em 10em;
  background: #171819;
}

.left {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.left__paragraph {
  color: #666262;
  font-size: 1.2rem;
}
.left__button {
  text-align: center;
}

.right {
  width: 45%;
  border-left: 1px solid #666262;
  padding-left: 4rem;
}
.right__paragraph {
  color: #666262;
  font-size: 1.2rem;
}

.section-trainer {
  background: #f9f9f9;
  padding: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-trainer__about {
  width: 39%;
}
.section-trainer__people {
  width: 57%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-trainer h2 {
  color: #212529;
  font-size: 2.1rem;
  padding-bottom: 1.8rem;
}
.section-trainer p {
  color: #7f8c8d;
  font-size: 1.1rem;
}

.team-1 {
  width: 45%;
  height: auto;
  box-sizing: border-box;
  background: #fff;
  box-shadow: -1px 4px 40px -7px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: -1px 4px 40px -7px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: -1px 4px 40px -7px rgba(0, 0, 0, 0.39);
}
.team-1__img img {
  width: 100%;
  object-fit: cover;
}
.team-1__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}
.team-1__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 0 20px;
}
.team-1__name h4 {
  color: #212529;
  font-size: 1.5rem;
}
.team-1__name i {
  font-size: 1.3rem;
  font-size: 600;
  cursor: pointer;
  color: #212529;
}
.team-1__pro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px 5px 20px;
}
.team-1__pro p {
  color: #212529;
}
.team-1__pro i {
  font-size: 1.3rem;
  font-size: 600;
  cursor: pointer;
  color: #212529;
}

.section-classes {
  background: #f9f9f9;
  padding: 3em 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-classes__paragraph {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #7f8c8d;
}
.section-classes__heading {
  font-size: 2.1rem;
  color: #212529;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card {
  width: 32%;
  background: #fff;
  box-shadow: -1px 4px 40px -13px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -1px 4px 40px -13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 4px 40px -13px rgba(0, 0, 0, 0.5);
}
.card__img img {
  width: 100%;
}
.card__details {
  padding: 1em 1.2em;
}
.card__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__name-details h4 {
  color: #212529;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}
.card__name-details p {
  font-weight: 400;
  color: #212529;
  margin-bottom: 1.2rem;
}
.card__name-details p span {
  font-weight: 700;
}
.card__num h5 {
  font-size: 1rem;
  background: #ff5733;
  color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  border-radius: 50%;
}
.card__text p {
  color: #666262;
  font-size: 1.1rem;
}

.section-contact {
  padding: 6em;
  display: flex;
  justify-content: space-between;
}

.form {
  width: 45%;
}
.form h2 {
  font-size: 2rem;
  color: #212529;
  padding-bottom: 10px;
  width: 100%;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.submit input, .submit textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #95a586;
  outline: none;
  margin: 13px 0;
}
.submit input::placeholder {
  color: #7f8c8d;
  font-size: 1.1rem;
}
.submit textarea::placeholder {
  color: #7f8c8d;
  font-size: 1.1rem;
  height: 80%;
}
.submit input:focus, .submit textarea:focus {
  border: 1px solid #111;
}
.submit a {
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  background: #111;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  margin: 13px 0;
}

.map {
  width: 45%;
}
.map h2 {
  font-size: 2rem;
  color: #212529;
  padding-bottom: 10px;
  width: 100%;
}
.map p {
  font-size: 1.1rem;
  color: #212529;
  padding-bottom: 30px;
  width: 100%;
}
.map p i {
  color: red;
  padding-left: 4px;
}
.map iframe {
  width: 100%;
}

.footer {
  border-top: 1px solid #ecf0f1;
  padding: 4rem 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  color: #7f8c8d;
  justify-content: flex-start;
}
.footer p i {
  color: red;
  padding-right: 8px;
}

.heading-2 {
  color: #fff;
  font-size: 3rem;
  text-transform: capitalize;
}

.heading-3 {
  color: #fff;
  font-size: 3rem;
}

.heading-4 {
  color: #fff;
  font-size: 2.5rem;
}

.heading-5 {
  color: #fff;
  font-size: 1.1rem;
}

.heading-6 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 2em;
  font-weight: 500;
}
.btn--text {
  color: #fff;
  margin-top: 2rem;
  transition: color 0.1s ease-out;
}
.btn--text:hover {
  color: #ff5733;
}
.btn--outline {
  color: #ff5733;
  border: 1px solid #ff5733;
  border-radius: 3px;
  transition: background-color 0.1s ease-out;
}
.btn--outline:hover {
  background-color: #fff;
}
.btn--filled {
  color: #fff;
  background: #ff5733;
  transition: all 0.1s ease-out;
}
.btn--filled:hover {
  filter: brightness(0.8);
}

.mb-sm {
  margin-bottom: 1rem;
}

.mb-md {
  margin-bottom: 2rem;
}

.mb-lg {
  margin-bottom: 2.5rem;
}

/*# sourceMappingURL=style.css.map */
