@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  width: 100%;
  padding: 1.5em 5em;
  position: fixed;
  z-index: 5;
}
@media screen and (max-width: 1042px) {
  .nav {
    padding: 1.2em 3.2em;
  }
}
@media screen and (max-width: 991px) {
  .nav {
    padding: 1em 2.5em;
  }
}

.logo {
  color: #fff;
  font-size: 1.7rem;
}
@media screen and (max-width: 1042px) {
  .logo {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 991px) {
  .logo {
    font-size: 1.2rem;
  }
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}
@media screen and (max-width: 991px) {
  .list {
    flex-direction: column;
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -350px;
    background: rgba(0, 0, 0, 0.8);
    margin-top: 3.5rem;
    z-index: 10000;
  }
}
.list__item {
  list-style: none;
  padding-right: 50px;
}
@media screen and (max-width: 1042px) {
  .list__item {
    padding-right: 30px;
  }
}
@media screen and (max-width: 991px) {
  .list__item {
    padding-right: 0;
    padding-bottom: 1.5em;
  }
}
.list__link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 0.1s ease-out;
  backface-visibility: hidden;
}
@media screen and (max-width: 1042px) {
  .list__link {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 991px) {
  .list__link {
    font-size: 1.2rem;
  }
}
.list__link:hover {
  color: #ff5733;
  cursor: pointer;
}

#menu {
  color: #ff5773;
  font-weight: 400;
  font-size: 1.5rem;
  display: none;
}
@media screen and (max-width: 991px) {
  #menu {
    display: initial;
    cursor: pointer;
  }
}

.icons {
  color: #fff;
}
.icons i {
  padding-right: 20px;
  font-size: 600;
  transition: color 0.1s ease-out;
}
@media screen and (max-width: 1042px) {
  .icons i {
    padding-right: 15px;
  }
}
@media screen and (max-width: 991px) {
  .icons i {
    padding: 20px 15px 0 15px;
  }
}
.icons i:hover {
  color: #ff5733;
  cursor: pointer;
}

.hero {
  background-image: linear-gradient(rgba(23, 24, 25, 0.8), rgba(23, 24, 25, 0.8)), url(../img/bg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-box__paragraph {
  color: #7f8c8d;
  font-size: 1.3rem;
  margin-bottom: 1.4rem;
}
@media screen and (max-width: 991px) {
  .hero-box__paragraph {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-box__paragraph {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }
}
@media screen and (max-width: 496px) {
  .hero-box__paragraph {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}
.hero-box__buttons {
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .hero-box__buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 496px) {
  .hero-box__buttons {
    margin-top: 0.7rem;
  }
}

.section-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5em 10em;
  background: #171819;
}
@media screen and (max-width: 991px) {
  .section-details {
    padding: 2.5em 5em;
  }
}
@media screen and (max-width: 768px) {
  .section-details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.8em 3em;
  }
}
@media screen and (max-width: 496px) {
  .section-details {
    padding: 1.3em 1.6em;
  }
}

.left {
  width: 48%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 991px) {
  .left {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .left {
    width: 70%;
  }
}
@media screen and (max-width: 496px) {
  .left {
    width: 100%;
  }
}
.left__paragraph {
  color: #666262;
  font-size: 1.2rem;
}
@media screen and (max-width: 991px) {
  .left__paragraph {
    font-size: 1.1rem;
  }
}
.left__button {
  text-align: center;
}

.right {
  width: 45%;
  border-left: 1px solid #666262;
  padding-left: 4rem;
}
@media screen and (max-width: 991px) {
  .right {
    width: 47%;
    padding-left: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .right {
    padding-left: 0;
    border-left: 0;
    border-top: 2px solid #666262;
    width: 70%;
    margin-top: 1.8rem;
    padding-top: 1.8rem;
  }
}
@media screen and (max-width: 496px) {
  .right {
    width: 100%;
  }
}
.right__paragraph {
  color: #666262;
  font-size: 1.2rem;
}
@media screen and (max-width: 991px) {
  .right__paragraph {
    font-size: 1rem;
  }
}

.section-trainer {
  background: #f9f9f9;
  padding: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .section-trainer {
    padding: 3em 3.7em;
  }
}
@media screen and (max-width: 768px) {
  .section-trainer {
    flex-direction: column;
    padding: 3em 1.5em;
  }
}
@media screen and (max-width: 496px) {
  .section-trainer {
    padding: 1.8em 1.2em;
  }
}
.section-trainer__about {
  width: 39%;
}
@media screen and (max-width: 768px) {
  .section-trainer__about {
    width: 70%;
    margin-bottom: 1.7rem;
  }
}
@media screen and (max-width: 496px) {
  .section-trainer__about {
    width: 100%;
  }
}
.section-trainer__people {
  width: 57%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .section-trainer__people {
    width: 70%;
  }
}
@media screen and (max-width: 496px) {
  .section-trainer__people {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.section-trainer h2 {
  color: #212529;
  font-size: 2.1rem;
  padding-bottom: 1.8rem;
}
@media screen and (max-width: 991px) {
  .section-trainer h2 {
    font-size: 2rem;
    padding-bottom: 1.4rem;
  }
}
.section-trainer p {
  color: #7f8c8d;
  font-size: 1.1rem;
}
@media screen and (max-width: 991px) {
  .section-trainer p {
    font-size: 1rem;
  }
}

.team-1 {
  width: 45%;
  height: auto;
  box-sizing: border-box;
  background: #fff;
  box-shadow: -1px 4px 40px -7px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: -1px 4px 40px -7px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: -1px 4px 40px -7px rgba(0, 0, 0, 0.39);
}
@media screen and (max-width: 991px) {
  .team-1 {
    width: 48%;
  }
}
@media screen and (max-width: 496px) {
  .team-1 {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.team-1__img img {
  width: 100%;
  object-fit: cover;
}
.team-1__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}
.team-1__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 0 20px;
}
@media screen and (max-width: 991px) {
  .team-1__name {
    padding: 5px 15px 0 15px;
  }
}
.team-1__name h4 {
  color: #212529;
  font-size: 1.5rem;
}
@media screen and (max-width: 991px) {
  .team-1__name h4 {
    font-size: 1.1rem;
  }
}
.team-1__name i {
  font-size: 1.3rem;
  font-size: 600;
  cursor: pointer;
  color: #212529;
}
@media screen and (max-width: 991px) {
  .team-1__name i {
    font-size: 1.1rem;
  }
}
.team-1__pro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 15px 5px 15px;
}
@media screen and (max-width: 991px) {
  .team-1__pro {
    font-size: 1.1rem;
  }
}
.team-1__pro p {
  color: #212529;
}
.team-1__pro i {
  font-size: 1.3rem;
  font-size: 600;
  cursor: pointer;
  color: #212529;
}
@media screen and (max-width: 991px) {
  .team-1__pro i {
    font-size: 1.1rem;
  }
}

.section-classes {
  background: #f9f9f9;
  padding: 3em 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .section-classes {
    padding: 3.7em;
  }
}
@media screen and (max-width: 496px) {
  .section-classes {
    padding: 3em 2.5em;
  }
}
.section-classes__paragraph {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #7f8c8d;
}
@media screen and (max-width: 991px) {
  .section-classes__paragraph {
    font-size: 1.1rem;
  }
}
.section-classes__heading {
  font-size: 2.1rem;
  color: #212529;
}
@media screen and (max-width: 991px) {
  .section-classes__heading {
    font-size: 1.9rem;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card {
  width: 32%;
  background: #fff;
  box-shadow: -1px 4px 40px -13px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -1px 4px 40px -13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 4px 40px -13px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .card {
    width: 65%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 496px) {
  .card {
    width: 100%;
  }
}
.card__img img {
  width: 100%;
}
.card__details {
  padding: 1em 1.2em;
}
@media screen and (max-width: 991px) {
  .card__details {
    padding: 0.8em 1em;
  }
}
.card__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__name-details h4 {
  color: #212529;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 991px) {
  .card__name-details h4 {
    font-size: 1.25rem;
    margin-bottom: 0.3rem;
  }
}
.card__name-details p {
  font-weight: 400;
  color: #212529;
  margin-bottom: 1.2rem;
  font-size: 1.1rem;
}
@media screen and (max-width: 991px) {
  .card__name-details p {
    font-size: 1rem;
  }
}
.card__name-details p span {
  font-weight: 700;
}
@media screen and (max-width: 991px) {
  .card__name-details p span {
    font-size: 1rem;
  }
}
.card__num h5 {
  font-size: 1rem;
  background: #ff5733;
  color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  border-radius: 50%;
}
@media screen and (max-width: 991px) {
  .card__num h5 {
    font-size: 0.8rem;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
  }
}
.card__text p {
  color: #666262;
  font-size: 1.1rem;
}
@media screen and (max-width: 991px) {
  .card__text p {
    font-size: 0.9rem;
  }
}

.section-contact {
  padding: 6em;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .section-contact {
    padding: 3.7em;
  }
}
@media screen and (max-width: 768px) {
  .section-contact {
    padding: 2.8em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 496px) {
  .section-contact {
    padding: 2.2em 1.5em;
  }
}

.form {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .form {
    width: 70%;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 496px) {
  .form {
    width: 100%;
  }
}
.form h2 {
  font-size: 2rem;
  color: #212529;
  padding-bottom: 10px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .form h2 {
    font-size: 1.8rem;
    padding-bottom: 7px;
  }
}
@media screen and (max-width: 768px) {
  .form h2 {
    font-size: 2.5rem;
  }
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.submit input, .submit textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #95a586;
  outline: none;
  margin: 13px 0;
}
@media screen and (max-width: 991px) {
  .submit input, .submit textarea {
    margin: 10px 0;
    padding: 12px;
  }
}
.submit input::placeholder {
  color: #7f8c8d;
  font-size: 1.1rem;
}
@media screen and (max-width: 991px) {
  .submit input::placeholder {
    font-size: 1rem;
  }
}
.submit textarea::placeholder {
  color: #7f8c8d;
  font-size: 1.1rem;
  height: 80%;
}
@media screen and (max-width: 991px) {
  .submit textarea::placeholder {
    font-size: 1rem;
  }
}
.submit input:focus, .submit textarea:focus {
  border: 1px solid #111;
}
.submit a {
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  background: #111;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  margin: 13px 0;
}
@media screen and (max-width: 991px) {
  .submit a {
    padding: 13px 0;
    font-size: 1rem;
    margin: 10px 0;
  }
}

.map {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .map {
    width: 60%;
  }
}
@media screen and (max-width: 496px) {
  .map {
    width: 100%;
  }
}
.map h2 {
  font-size: 2rem;
  color: #212529;
  padding-bottom: 10px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .map h2 {
    font-size: 1.8rem;
    padding-bottom: 7px;
  }
}
.map p {
  font-size: 1.1rem;
  color: #212529;
  padding-bottom: 30px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .map p {
    font-size: 1rem;
    padding-bottom: 20px;
  }
}
.map p i {
  color: red;
  padding-left: 4px;
}
.map iframe {
  width: 100%;
}

.footer {
  border-top: 1px solid #ecf0f1;
  padding: 4rem 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .footer {
    padding: 4.5em;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer p {
  color: #7f8c8d;
  justify-content: flex-start;
}
.footer p i {
  color: red;
  padding-right: 8px;
}

.heading-2 {
  color: #fff;
  font-size: 3rem;
  text-transform: capitalize;
}
@media screen and (max-width: 991px) {
  .heading-2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .heading-2 {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 768px) {
  .heading-2 {
    font-size: 1.8rem;
  }
}

.heading-3 {
  color: #fff;
  font-size: 3rem;
}
@media screen and (max-width: 991px) {
  .heading-3 {
    font-size: 2rem;
  }
}

.heading-4 {
  color: #fff;
  font-size: 2.5rem;
}
@media screen and (max-width: 991px) {
  .heading-4 {
    font-size: 2rem;
  }
}

.heading-5 {
  color: #fff;
  font-size: 1.1rem;
}
@media screen and (max-width: 991px) {
  .heading-5 {
    font-size: 1rem;
  }
}

.heading-6 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 2em;
  font-weight: 500;
}
@media screen and (max-width: 991px) {
  .btn {
    font-size: 0.9rem;
    padding: 0.9em 1.5em;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: 1rem;
  }
}
.btn--text {
  color: #fff;
  margin-top: 2rem;
  transition: color 0.1s ease-out;
}
@media screen and (max-width: 768px) {
  .btn--text {
    margin-top: 1rem;
    margin-bottom: 7px;
  }
}
.btn--text:hover {
  color: #ff5733;
}
.btn--outline {
  color: #ff5733;
  border: 1px solid #ff5733;
  border-radius: 3px;
  transition: background-color 0.1s ease-out;
}
.btn--outline:hover {
  background-color: #fff;
}
.btn--filled {
  color: #fff;
  background: #ff5733;
  transition: all 0.1s ease-out;
}
.btn--filled:hover {
  filter: brightness(0.8);
}

.mb-sm {
  margin-bottom: 1rem;
}
@media screen and (max-width: 991px) {
  .mb-sm {
    margin-bottom: 0.7rem;
  }
}

.mb-md {
  margin-bottom: 2rem;
}

.mb-lg {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 991px) {
  .mb-lg {
    margin-bottom: 2.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
